.task {
  border: 1px solid #ceced1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; 
  margin: 10px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

